In [12]:
%%bash
python --version
pangolin -h


#in bash environment, install pangolin (which includes usher!)

Python 3.9.5
usage: pangolin <query> [options]

pangolin: Phylogenetic Assignment of Named Global Outbreak LINeages

positional arguments:
  query

optional arguments:
  -h, --help            show this help message and exit
  -o OUTDIR, --outdir OUTDIR
                        Output directory. Default: current working directory
  --outfile OUTFILE     Optional output file name. Default: lineage_report.csv
  -d DATA, --data DATA  Data directory minimally containing a fasta alignment
                        and guide tree
  -n, --dry-run         Go through the motions but don't actually run
  -f, --force           Overwrite all output
  --tempdir TEMPDIR     Specify where you want the temp stuff to go. Default:
                        $TMPDIR
  --max-ambig MAXAMBIG  Maximum proportion of Ns allowed for pangolin to
                        attempt assignment. Default: 0.5
  --min-length MINLEN   Minimum query length allowed for pangolin to attempt
                        assignment. Default: 10000
  --panGUIlin           Run web-app version of pangolin
  --write-tree          Output a phylogeny for each query sequence placed in
                        the guide tree
  -t THREADS, --threads THREADS
                        Number of threads
  -p, --include-putative
                        Include the bleeding edge lineage definitions in
                        assignment
  --verbose             Print lots of stuff to screen
  -v, --version         show program's version number and exit
  -lv, --lineages-version
                        show lineages's version number and exit
/Users/pancakemean/Y4 local

In [1]:
#import all the packages we need for this session
import pandas
import random
from Bio import SeqIO
from random import sample

In [57]:
filename = "des_lineages.csv"
df=pandas.read_csv(filename)
#read the file
df['count'] = df.groupby('lineage')['lineage'].transform('count')
#add sequences number count to the new column
df.head(10)

                             taxon lineage  count
0          Guangzhou/GZMU0016/2020       A   1698
1      Beijing/Wuhan_IME-BJ07/2020       A   1698
2               Nanchang/JX90/2020       A   1698
3             USA/CA-CZB-1240/2020       A   1698
4              Nanchang/JX177/2020       A   1698
5  Guangdong/2020XN4273-P0036/2020       A   1698
6          South_Korea/KCDC05/2020       A   1698
7        South_Korea/KCDC2002/2020       A   1698
8              Beijing/BJ1112/2020       A   1698
9        South_Korea/KCDC2003/2020       A   1698

In [39]:
#locate the lineage with less than n sequences
#df.groupby('lineage').count()


sampletest=df.loc[df['count']<1092]
print(len(sampletest))
print(len(sampletest.groupby('lineage')))
print(len(df.groupby('lineage')))

221216
1447
1577

In [60]:
len(df.loc[df['lineage'].str.contains('AY.6')])

13767

In [53]:
countdf=df.groupby('lineage').count()
countdf
countdf.loc[(countdf['taxon']<=600) & (countdf['taxon']>=500)]

            taxon  count
lineage
AY.11         522    522
AY.30         525    525
AY.34.2       573    573
AY.35         574    574
AY.40         529    529
AY.43.2       530    530
AY.57         527    527
AY.58         512    512
AY.60         587    587
AY.62         550    550
AY.73         517    517
AY.91         563    563
B.1.1.10      538    538
B.1.1.279     544    544
B.1.1.301     521    521
B.1.160.16    508    508
B.1.160.17    504    504
B.1.160.8     507    507
B.1.177.18    513    513
B.1.177.5     508    508
B.1.177.6     590    590
B.1.22        591    591
B.1.232       552    552
B.1.36.36     555    555
B.1.367       571    571
B.1.375       553    553
B.1.389       590    590
B.1.400       519    519
B.1.509       562    562
C.35          508    508
P.1.12        536    536
P.1.2         600    600
W.4           508    508

The only lineage that only have 1 designated sequence so B.1.617

In [94]:
import pandas
newdf=df.copy()
#copy the original df, so no risk to damage the original data

newdf=newdf.drop(labels=452030, axis=0)
#deleted b61617 using its index number

newdes_sample=newdf.groupby("lineage").sample(n=3)
#sample 3 sequences in each lineage

newdes_sample=newdes_sample.append(df.loc[df['count']==1])
#append b61617 back to the sampled df

newdes_sample.loc[newdes_sample['count']==1]
#check whether b61617 is in the new list

                                    taxon  lineage  count
452030  India/MH-NCCS-P1162000180788/2021  B.1.617      1

In [13]:
slist=list(df.loc[df['count']<4].index.values)
print(slist)

[434748, 434749, 434750, 452030]

In [44]:
#write a function for random drawing one parameters
def randraw(a):
    filename = "des_lineages.csv"
    df=pandas.read_csv(filename)
    df['count'] = df.groupby('lineage')['lineage'].transform('count')
    newdf=df.copy()
    newdf=df.drop(df.loc[df['count']<a].index)
    newdes_sample=newdf.groupby("lineage").sample(n=a)
    newdes_sample=newdes_sample.append(df.loc[df['count']<a])
    #return newdes_sample
    dlist=new_sample['taxon'].tolist()
    d_dict=SeqIO.index('filename','fasta')    
    for d_ids in dlist:
        d_finalsample=d_dict[d_ids]
        print(d_finalsample)

newsample=randraw(3)

newsample.loc[newsample['count']==3]
#to check if it works

NameError: name 'new_sample' is not defined

In [11]:
def ddraw():
    dlist=newsample['taxon'].tolist()
    d_dict=SeqIO.index('filename','fasta')    
    for d_ids in dlist:
        d_finalsample=d_dict[d_ids]
        print(d_finalsample)

In [95]:
newdes_sample.to_csv('newdes_sample.csv')
#converted to csv so I can sent to Rachel

In [97]:
print(newdes_sample)

                                        taxon  lineage  count
117            United_Arab_Emirates/0020/2020        A   1698
156     United_Arab_Emirates/L3290220847/2020        A   1698
1040                     Canada/AB-55631/2020        A   1698
2157                      USA/HI-H200011/2020      A.1   2699
2005                  England/PHEC-1DAF3/2020      A.1   2699
...                                       ...      ...    ...
448776                   Portugal/PT2686/2021      Y.1     61
448944                 Wales/ALDP-C3B3CB/2020      Z.1    156
448858                 Wales/PHWC-49C111/2020      Z.1    156
448885                 Wales/PHWC-4B5464/2021      Z.1    156
452030      India/MH-NCCS-P1162000180788/2021  B.1.617      1

[4729 rows x 3 columns]

In [101]:
import csv
file = open("newdes_sample.csv")
reader = csv.reader(file)
lines= len(list(reader))
print(lines-1)

#check how many samples names we got atm

4729

Now start to deal with a small GISAID dataset

In [42]:

with open('gisaid_scot.fasta')as g:
    gseq=SeqIO.parse(g,'fasta')
    gsample=sample(list(gseq),3)
    #print(gsample)
SeqIO.write(gsample, 'gsample.fasta',"fasta")

#that might load the whole file into the memory, which will be fine if we are dealing with a samller file
#but not so if we are going to load the whole DISAID data in

3

In [89]:
idlist=[]
for gseq in SeqIO.parse('gisaid_scot.fasta','fasta'):
    g_id=gseq.id
    idlist.append(str(g_id))
idsample=sample(idlist,3)
#print(idsample)

g_dict=SeqIO.index('gisaid_scot.fasta','fasta')
for ids in idsample:
    finalsample=g_dict[ids]
    print(finalsample)

ID: hCoV-19/Scotland/QEUH-2FED22C/2021|EPI_ISL_8276102|2021-12-26
Name: hCoV-19/Scotland/QEUH-2FED22C/2021|EPI_ISL_8276102|2021-12-26
Description: hCoV-19/Scotland/QEUH-2FED22C/2021|EPI_ISL_8276102|2021-12-26
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')
ID: hCoV-19/Scotland/QEUH-2FD2002/2021|EPI_ISL_8278564|2021-12-22
Name: hCoV-19/Scotland/QEUH-2FD2002/2021|EPI_ISL_8278564|2021-12-22
Description: hCoV-19/Scotland/QEUH-2FD2002/2021|EPI_ISL_8278564|2021-12-22
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')
ID: hCoV-19/Scotland/QEUH-2FD1EBE/2021|EPI_ISL_8278617|2021-12-22
Name: hCoV-19/Scotland/QEUH-2FD1EBE/2021|EPI_ISL_8278617|2021-12-22
Description: hCoV-19/Scotland/QEUH-2FD1EBE/2021|EPI_ISL_8278617|2021-12-22
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')

In [121]:
#Function for random drawing sequence in for GISAID data base
    

def grandraw (x):#x = samplesize
    idlist=[]
    for gseq in SeqIO.parse('gisaid_scot.fasta','fasta'):
        g_id=gseq.id
        idlist.append(str(g_id))
    idsample=sample(idlist,x)
    
    g_dict=SeqIO.index('gisaid_scot.fasta','fasta')    
    for ids in idsample:
        finalsample=g_dict[ids]
        print(finalsample)
    

grandraw(4) 
#print(newgsample)

ID: hCoV-19/Scotland/QEUH-2FCF6E8/2021|EPI_ISL_8278207|2021-12-21
Name: hCoV-19/Scotland/QEUH-2FCF6E8/2021|EPI_ISL_8278207|2021-12-21
Description: hCoV-19/Scotland/QEUH-2FCF6E8/2021|EPI_ISL_8278207|2021-12-21
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')
ID: hCoV-19/Scotland/QEUH-2FD6A2E/2021|EPI_ISL_8278777|2021-12-22
Name: hCoV-19/Scotland/QEUH-2FD6A2E/2021|EPI_ISL_8278777|2021-12-22
Description: hCoV-19/Scotland/QEUH-2FD6A2E/2021|EPI_ISL_8278777|2021-12-22
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')
ID: hCoV-19/Scotland/QEUH-2FD6B76/2021|EPI_ISL_8278927|2021-12-22
Name: hCoV-19/Scotland/QEUH-2FD6B76/2021|EPI_ISL_8278927|2021-12-22
Description: hCoV-19/Scotland/QEUH-2FD6B76/2021|EPI_ISL_8278927|2021-12-22
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...GTA')
ID: hCoV-19/Scotland/QEUH-2FD74B6/2021|EPI_ISL_8279811|2021-12-22
Name: hCoV-19/Scotland/QEUH-2FD74B6/2021|EPI_ISL_8279811|2021-12-22
Description: hCoV-19/Scotland/QEUH-2FD74B6/2021|EPI_ISL_8279811|2021-12-22
Number of features: 0
Seq('TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCT...AGT')

Try to unzip the big file

In [26]:
import gzip
count = 0
with gzip.open("bigfile.fa.gz", "rt") as handle:
    gisaid_sample_list=[]
    for record in SeqIO.parse(handle, "fasta"):
        sum_id=record.id
        gisaid_sample_list.append(str(sum_id))
        count += 1
        if count > 30:
            break
    
    gisaid_sample=sample(gisaid_sample_list,4)
    gisaid_sample_set=set(gisaid_sample)
    print(gisaid_sample_set)
    
    count=0
with gzip.open("bigfile.fa.gz", "rt") as handle:
    for record in SeqIO.parse(handle, "fasta"):
        if record.id in gisaid_sample_set:
            print(record)
        count+=1
        if count > 30:
            break

{'England/PHWC-PYIH14/2021', 'England/PHWC-PYIHFI/2021', 'England/PHWC-PYIHPF/2021', 'England/PHWC-PYIHXB/2021'}
ID: England/PHWC-PYIH14/2021
Name: England/PHWC-PYIH14/2021
Description: England/PHWC-PYIH14/2021
Number of features: 0
Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN')
ID: England/PHWC-PYIHFI/2021
Name: England/PHWC-PYIHFI/2021
Description: England/PHWC-PYIHFI/2021
Number of features: 0
Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN')
ID: England/PHWC-PYIHPF/2021
Name: England/PHWC-PYIHPF/2021
Description: England/PHWC-PYIHPF/2021
Number of features: 0
Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN')
ID: England/PHWC-PYIHXB/2021
Name: England/PHWC-PYIHXB/2021
Description: England/PHWC-PYIHXB/2021
Number of features: 0
Seq('NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...NNN')

In [2]:

import gzip
def random_draw_from_des(sample_limit):
    
    filename = "des_lineages.csv"
    df=pandas.read_csv(filename)
    df['count'] = df.groupby('lineage')['lineage'].transform('count')
    newdf=df.copy()
    newdf=df.drop(df.loc[df['count']<sample_limit].index)
    #print(newdf)
    newdes_sample=newdf.groupby("lineage").sample(n=sample_limit)
    newdes_sample=newdes_sample.append(df.loc[df['count']<sample_limit])
    dlist=newdes_sample['taxon'].tolist()
    dset=set(dlist)
    return dset
des_sample_set= random_draw_from_des(3)
#len(random_draw_from_des(3))#just to check the number of sample 


def random_draw_from_gisaid(sample_size):
   
    with gzip.open("bigfile.fa.gz", "rt") as handle:
        gisaid_sample_list=[]
        for record in SeqIO.parse(handle, "fasta"):
            sum_id=record.id
            gisaid_sample_list.append(str(sum_id))
            
    
    gisaid_sample=sample(gisaid_sample_list,sample_size)
    gset=set(gisaid_sample)
    return gset

def draw_sequence_from(dataset,outfile):

    dataset=set(dataset)
    out_handle = open(outfile,'w')
    with gzip.open("bigfile.fa.gz", "rt") as handle:
        for record in SeqIO.parse(handle, "fasta"):
            if record.id in dataset:
                SeqIO.write(record, out_handle, "fasta")
                dataset.remove(record.id)
            
        

gisaid_sample_set=random_draw_from_gisaid(250000)               
draw_sequence_from(gisaid_sample_set,'gisaid_big_file.fa')

#des_sample_set= random_draw_from_des(250000)
#draw_sequence_from(des_sample_set,'des_bigfile.fa')

In [36]:
def random_draw_from_des(sample_limit):
    
    filename = "des_lineages.csv"
    df=pandas.read_csv(filename)
    df['count'] = df.groupby('lineage')['lineage'].transform('count')
    newdf=df.copy()
    newdf=df.drop(df.loc[df['count']<sample_limit].index)
    #print(newdf)
    newdes_sample=newdf.groupby("lineage").sample(n=sample_limit)
    newdes_sample=newdes_sample.append(df.loc[df['count']<sample_limit])
    dlist=newdes_sample['taxon'].tolist()
    dset=set(dlist)
    return dset
len(random_draw_from_des(500))

7877